.notifyjs-iris-base {
	position: relative;
	min-height: 52px;
	color:#fff;
	font-family: 'Open Sans';

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;        
}

.notifyjs-iris-base .image {
	background-image: url(/IRIS/images/close-8-inverse.png);
	position: absolute;
	height: auto;
	width: auto;
	left: 25px;
	top: 50%;
	display: table;
}

.notifyjs-iris-base .close {
	background-image: url(/IRIS/images/close-8-inverse.png);
	float:right;
	width: 8px;
	height: 8px;
	margin: 4px;
}

.notifyjs-iris-base .text-wrapper {
	display: inline-block;
	vertical-align: top;
	text-align: left;
	margin: 8px 16px 16px 16px;
	clear: both;
	font-size: 12px;
}

.text-wrapper a:link { text-decoration: none; color: #ccccff;}
.text-wrapper a:visited { text-decoration: none; color: #ccccff;}
.text-wrapper a:hover { text-decoration: underline; color: #ccccff;}

.notifyjs-iris-base .title {
	font-size: 13px;
	font-weight: normal;
	border-bottom: 1px solid #ccc;
	padding-bottom: 4px;
	margin-bottom: 8px;
}

.notifyjs-iris-base .text {
	font-size: 13px;
	font-weight: normal;
	vertical-align: middle;
}

.notifyjs-iris-base.uncloseable>.close{ display: none }