<dom-module id="zetta-prompt">
	<style>
		.field{width:100%; min-width: 200px;margin-bottom:10px;}
	</style>
	<template>
		<paper-dialog id="dialodBox" modal>
			<h2>[[data.title]]</h2>
			<div>[[data.text]]</div>
			<div class="dialog-contents">
				<paper-input class="field" type="[[data.fieldType]]" no-float-label value="{{data.value}}" on-keyup="onkeyup"></paper-input>
			</div>
			<div class="buttons">
				<paper-button on-click="cancel" dialog-dismiss raised>[[data.closeBtn]]</paper-button>
				<paper-button on-click="done" raised>[[data.okBtn]]</paper-button>
			</div>
		</paper-dialog>
	</template>
	<script>
		window.ZETTA = window.ZETTA || {};
		window.ZETTA.Prompt = function(args, callback){
			var data = _.extend({
				text: '',
				okBtn: '<%= _T("OK") %>',
				closeBtn: '<%= _T("CLOSE") %>',
				fieldType: 'text',
				required: true,
				callback: callback
			}, args);
			this.zettaPrompt.set('data', data);
			this.zettaPrompt.toggle();
		},
		Polymer({
			is:'zetta-prompt',
			properties:{
				data:{
					type: Object,
					value: {
						value: "",
						title: "Prompt",
						text: "Enter Value",
						okBtn: 'OK',
						closeBtn: 'CLOSE',
						fieldType: 'text',
						required: true,
						callback: false
					}
				},
				holder: {
					type: String,
					value: "ZETTA"
				}
			},
			onkeyup: function(e){
				if (e.which != 13)
					return;
				this.doCallback('ok');
			},
			done: function(){
				this.doCallback('ok');
			},
			cancel: function(){
				this.doCallback('cancel');
			},
			toggle:function(){
				this.$.dialodBox.toggle();
			},
			doCallback: function(btn, value){
				var self = this;
				var data = self.data;
				var value = data.value;
				if (data.required && btn == 'ok' && !value) {
					return;
				};
				self.toggle();
				if(data.callback){
					data.callback(btn, value);
				}
			},
			attached: function(){
				window[this.holder] && (window[this.holder].zettaPrompt = this);
				window.ZETTA.zettaPrompt = this;
			}
		})
	</script>
</dom-module>

