<link rel="import" href="/deps/iron-icons/iron-icons.html" />
<link rel="import" href="/deps/iron-icons/editor-icons.html" />
<link rel="import" href="/deps/iron-icons/social-icons.html" />
<link rel="import" href="/deps/iron-icons/maps-icons.html" />
<link rel="import" href="/deps/iron-icons/communication-icons.html" />
<link rel="import" href="/deps/iron-icon/iron-icon.html" />
<link rel="import" href="/deps/paper-tabs/paper-tabs.html" />
<link rel="import" href="/deps/paper-item/paper-item.html" />
<link rel="import" href="/deps/paper-menu/paper-menu.html" />
<link rel="import" href="/deps/paper-item/paper-item-body.html" />
<link rel="import" href="/deps/paper-input/paper-input.html" />
<link rel="import" href="/deps/paper-input/paper-textarea.html" />
<link rel="import" href="/deps/paper-button/paper-button.html" />
<link rel="import" href="/deps/paper-icon-button/paper-icon-button.html" />
<link rel="import" href="/deps/paper-slider/paper-slider.html" />
<link rel="import" href="/deps/paper-checkbox/paper-checkbox.html" />
<link rel="import" href="/deps/paper-dialog/paper-dialog.html" />
<link rel="import" href="/deps/neon-animation/neon-animation.html" />
<link rel="import" href="/deps/iron-flex-layout/iron-flex-layout.html" />

<link rel="import" href="zetta-rpc.html" />
<link rel="import" href="zetta-dom-app-behavior.html" />
<link rel="import" href="zetta-dropdown.html" />
<link rel="import" href="zetta-login.html" />
<link rel="import" href="zetta-footer.html" />
<link rel="import" href="zetta-contact.html" />

<!--
<dom-module id="zetta-dom-app-header" ____attributes="selectedlang languagetitle language">
	<template>
		<content></content>
	</template>
	<script>
	Polymer({
		is:'zetta-dom-app-header',
		/*properties:{
			languagetitle: String,
			language: {
				type: Object,
				value: {},
				//observer:'onLanguageChange'
			},
			selectedlang: {
				type: String,
				value: '',
				//observer:'onSelectedlangChange'
			}
		},
		/*
		attached: function(){
			var self = this;
			self.$.languageDropdown = self.querySelector("zetta-dropdown.language");
			if (self.$.languageDropdown) {
				self.$.languageTpl = Polymer.dom(self.$.languageDropdown).querySelector('template');
				self.listen(self.$.languageDropdown, 'click', 'selectLanguage');
			};
		},

		onSelectedlangChange: function(){
			console.log('onLanguageChange', this.language)
		},
		
		onSelectedlangChange: function(e){
			var self = this;
			//if (self.$.languageTpl.itemForElement(e.target)) {
				if (self.parentNode.tagName == 'ZETTA-DOM-APP') {
					self.parentNode.onSelectedlangChange.apply(self.parentNode, arguments);
				};
			//};
		}*/

		/*,
		_marshalAnnotatedListeners: function(){
			var scope = this;
			if (this.parentNode.tagName == 'ZETTA-DOM-APP') {
				scope = this.parentNode;
			};
			Polymer.Base._marshalAnnotatedListeners.apply(scope, arguments)
		}
		*/
	});
	</script>
</dom-module>

<dom-module id="zetta-dom-app-content">
	<template>
		<neon-animated-pages id="pages" class="flex" style="position:relative;" on-dom-change="onPagesReady" selected="[[selectedPage]]" class="flex-1" entry-animation="[[entryAnimation]]" exit-animation="[[exitAnimation]]" on-neon-animation-finish="onPageAnimationFinished">
			<content></content>
		</neon-animated-pages>
	</template>
	<script>
	Polymer({
		is:'zetta-dom-app-content',
		ready: function(){
			var self = this;
			self.classList.add('layout');
			self.classList.add('vertical');
			self.selectedPage = 0;
		},
		onPagesReady: function(){
			var self = this;
			/*if (self.parentNode.tagName == 'ZETTA-DOM-APP') {
				self.parentNode.onPagesReady.apply(self.parentNode, arguments);
				return;
			};
			*/
			self.fire('pages-ready', self);
			//local handling
		},
		onPageAnimationFinished: function(){
			var self = this;
			/*if (self.parentNode.tagName == 'ZETTA-DOM-APP') {
				self.parentNode.onPageAnimationFinished.apply(self.parentNode, arguments);
				return;
			}
			*/
			self.fire('page-animation-finished', arguments);

			//local handling
		}
		/*
		_marshalAnnotatedListeners: function(){
			var scope = this;
			if (this.parentNode.tagName == 'ZETTA-DOM-APP') {
				scope = this.parentNode;
			};
			Polymer.Base._marshalAnnotatedListeners.apply(scope, arguments)
		}
		*/
	});
	</script>
</dom-module>
-->
<dom-module id="zetta-language-selector">
	<style>
	zetta-dropdown{display: block;}
	</style>
	<template>
		 <zetta-dropdown label="[[languagetitle]]" class="astab" icon="translate">
			<paper-menu class='dropdown' selected="{{selected}}" attr-for-selected="value">
				<template is="dom-repeat" items="[[language.list]]">
					<paper-item value="[[item.id]]">[[item.name]]</paper-item>
				</template>
			</paper-menu>
		</zetta-dropdown>
	</template>
	<script>
<% 
	var langs = []; 
	_.each(_T.languages, function(l, code){
		langs.push({name: l.name, id: code});
	});
%>
	Polymer({
		is:'zetta-language-selector',
		properties:{
			languagetitle:{
				type: String,
				notify: true
			},
			selected:{
				type: String,
				notify: true,
				value: '<%= _T.locale %>',
				observer:'onLangChange'
			},
			language:{
				type: Object,
				notify: true,
				observer:'onLangChange'
			}
		},
		ready: function(){
			var self = this;
			self.language = {
				source: '<%- _T.source %>',
				locale: '<%- _T.locale %>',
				list: <%- JSON.stringify(langs) %>
			}
		},
		onLangChange: function(){
			var self = this;
			if (!self.language || !self.selected)
				return;
			self.languagetitle = _.find(self.language.list, function(o){return o.id == self.selected}).name;

			if (self.language.locale != self.selected) {
				var loc = window.location;
				if (self.language.locale == 'en') {
					window.location.href = loc.href.replace(loc.host+'/', loc.host+'/'+self.selected+'/');
				}else{
					window.location.href = loc.href.replace(loc.host+'/'+self.language.locale, loc.host+'/'+self.selected);
				}
			};
		}
	})
	</script>
</dom-module>
<dom-module id="zetta-dom-app" attributes="rpc-path rpc-holder logintab logintask languageselector user msg selected language languageTitle">
	<style>
		:host {}
		::content #tabs::shadow #tabsContainer #selectionBar {}
		::content #tabs::shadow paper-tab::shadow #ink {color: #848DBD;}
        ::content #tabs::shadow paper-tab {font-weight: bold; opacity: 0.75;}
        ::content #tabs::shadow paper-tab.iron-selected{opacity: 1;}
		#lefttabs{background-color: #afb1b9; height: 35px; margin-top: 15px; margin-left: 15px}
		paper-textarea.textarea-bug{visibility: hidden;min-height: 0px;min-width: 0px;height: 0px;width: 0px;overflow: hidden;}
		::content #pages::shadow neon-animatable{overflow: auto;}
		::content zetta-login{min-height: 390px; display: block;}
	</style>
	<template>
		<zetta-rpc id="rpc" path="[[rpcPath]]" holder="[[rpcHolder]]"></zetta-rpc>
		<paper-textarea class="textarea-bug"></paper-textarea>
		<content></content>
	</template>
	<script>
	Polymer({
		is:'zetta-dom-app',
		behaviors:[ZETTA.ZettaDomAppBehavior],
		/*
		ready: function () {
			var self = this;
			ZETTA.ZettaDomAppBehavior.ready.apply(self, arguments);
		}
		*/
	})
	</script>
</dom-module>

