<link rel="import" href="/deps/iron-icons/iron-icons.html" />
<link rel="import" href="/deps/iron-icons/editor-icons.html" />
<link rel="import" href="/deps/iron-icons/social-icons.html" />
<link rel="import" href="/deps/iron-icons/maps-icons.html" />
<link rel="import" href="/deps/iron-icons/communication-icons.html" />
<link rel="import" href="/deps/iron-icon/iron-icon.html" />
<link rel="import" href="/deps/paper-tabs/paper-tabs.html" />
<link rel="import" href="/deps/paper-item/paper-item.html" />
<link rel="import" href="/deps/paper-menu/paper-menu.html" />
<link rel="import" href="/deps/paper-item/paper-item-body.html" />
<link rel="import" href="/deps/paper-input/paper-input.html" />
<link rel="import" href="/deps/paper-input/paper-textarea.html" />
<link rel="import" href="/deps/paper-button/paper-button.html" />
<link rel="import" href="/deps/paper-icon-button/paper-icon-button.html" />
<link rel="import" href="/deps/paper-slider/paper-slider.html" />
<link rel="import" href="/deps/paper-checkbox/paper-checkbox.html" />
<link rel="import" href="/deps/paper-dialog/paper-dialog.html" />
<link rel="import" href="/deps/neon-animation/neon-animation.html" />
<link rel="import" href="/deps/iron-flex-layout/iron-flex-layout.html" />
<link rel="import" href="/deps/iron-media-query/iron-media-query.html" />
<link rel="import" href="/deps/paper-drawer-panel/paper-drawer-panel.html" />
<link rel="import" href="/deps/paper-menu-button/paper-menu-button.html" />
<link rel="import" href="/deps/paper-header-panel/paper-header-panel.html" />
<link rel="import" href="/deps/paper-toolbar/paper-toolbar.html" />
<link rel="import" href="animations/slide-from-up-animation.html" />
<link rel="import" href="animations/slide-from-down-animation.html" />

<link rel="import" href="zetta-rpc.html" />
<link rel="import" href="zetta-dom-app-behavior.html" />
<link rel="import" href="zetta-dropdown.html" />
<link rel="import" href="zetta-login.html" />
<link rel="import" href="zetta-footer.html" />
<link rel="import" href="zetta-contact.html" />
<link rel="import" href="zetta-prompt.html" />
<link rel="import" href="zetta-animatable.html" />

<dom-module id="zetta-language-selector">
	<style>
	zetta-dropdown{display: block;}
	.display{cursor: pointer;padding: 5px 0px 4px 2px;border-bottom: 1px solid #ccc;}
	.astab{padding: 10px; width: auto !important;}
	.astab .display{border-bottom: 0px;}
	.astab::content #dropdown{margin-top: 48px !important; margin-left:5px; margin-right: 5px;}
	</style>
	<template>
		<paper-menu-button class="astab">
			<div class="dropdown-trigger display">
				<iron-icon icon="translate"></iron-icon>
				<span>[[languagetitle]]</span>
			</div>
			<paper-menu class="dropdown-content" selected="{{selected}}" attr-for-selected="value">
				<template is="dom-repeat" items="{{language.list}}">
					<paper-item value="[[item.id]]">[[item.name]]</paper-item>
				</template>
			</paper-menu>
		</paper-menu-button>
	</template>
	<script>
<% 
	var langs = []; 
	_.each(_T.languages, function(l, code){
		langs.push({name: l.name, id: code});
	});
%>
	Polymer({
		is:'zetta-language-selector',
		properties:{
			languagetitle:{
				type: String,
				notify: true
			},
			selected:{
				type: String,
				notify: true,
				value: '<%= _T.locale %>',
				observer:'onLangChange'
			},
			language:{
				type: Object,
				notify: true,
				observer:'onLangChange'
			},
		},
		observers:[
			'onLangChange(language.list)'
		],
		ready: function(){
			var self = this;
			self.set('language', {
				source: '<%- _T.source %>',
				locale: '<%- _T.locale %>',
				list: <%- JSON.stringify(langs) %>
			});
		},
		attached: function(){
			var self = this;
			if (!self.language || !self.language.list || !self.language.list.length)
				return;
			var list = [].concat(self.language.list);
			self.set('language.list', []);
			self.async(function(){
				self.set('language.list', list);
			}, 1000);
		},
		onLangChange: function(){
			var self = this;
			if (!self.language || !self.language.list.length || !self.selected)
				return;
			console.log("self.selected", self.selected, self.language.list)
			self.languagetitle = _.find(self.language.list, function(o){return o.id == self.selected}).name;

			if (self.language.locale != self.selected) {
				var loc = window.location;
				if (self.language.locale == 'en') {
					window.location.href = loc.href.replace(loc.host+'/', loc.host+'/'+self.selected+'/');
				}else{
					window.location.href = loc.href.replace(loc.host+'/'+self.language.locale, loc.host+'/'+self.selected);
				}
			};
		},
		toJSON: function(v){
			return JSON.stringify(v);
		}
	})
	</script>
</dom-module>
<dom-module id="zetta-dom-app" attributes="rpc-path rpc-holder logintab logintask languageselector user msg selected language languageTitle">
	<style>
		:host {}
		::content #tabs::shadow #tabsContainer #selectionBar {}
		::content #tabs::shadow paper-tab::shadow #ink {color: #848DBD;}
        ::content #tabs::shadow paper-tab {font-weight: bold; opacity: 0.75;}
        ::content #tabs::shadow paper-tab.iron-selected{opacity: 1;}
		#lefttabs{background-color: #afb1b9; height: 35px; margin-top: 15px; margin-left: 15px}
		paper-textarea.textarea-bug{visibility: hidden;min-height: 0px;min-width: 0px;height: 0px;width: 0px;overflow: hidden;}
		::content #pages::shadow neon-animatable{overflow: auto;}
		::content zetta-login{min-height: 410px; display: block;}
		::content .toggle-drawer{min-width: 10px;}
		#drawerMenus ::content #tabs{height: auto;}
		#drawerMenus ::content #tabs #tabsContent{display: block;}
		#drawerMenus ::content #tabs #tabsContent paper-tab{display: block; padding:15px 5px 15px 15px;}
		#drawerMenus ::content #tabs #tabsContent paper-tab .tab-content{
			-ms-flex-pack: left; -webkit-justify-content: left; justify-content: left; }
		#drawerMenus ::content .drawer-menu {display: block;}
		::content [toggle-drawer]{display: none;}
		:host(.mobile) ::content [toggle-drawer]{display: inline-block;}
		::content #pages{overflow: hidden;}
	</style>
	<template>
		<zetta-prompt holder="[[rpcHolder]]"></zetta-prompt>
		<iron-media-query query="[[mediaquery]]" query-matches="{{ismobile}}"></iron-media-query>
		<zetta-rpc id="rpc" path="[[rpcPath]]" holder="[[rpcHolder]]"></zetta-rpc>
		<paper-textarea class="textarea-bug"></paper-textarea>
		<paper-drawer-panel id="drawer" narrow="{{isnarrow}}" force-narrow>
			 <paper-header-panel drawer id="drawerLeft">
				<paper-toolbar>
					<content select=".drawer-toolbar-item"></content>
				</paper-toolbar>
				<div id="drawerMenus">
			 		<content select=".drawer-item"></content>
			 	</div>
			 </paper-header-panel>
			<div main class="flex-1 layout vertical" id="drawerMain"><content select=".main-item"></content></div>
		</paper-drawer-panel>
	</template>
	<script>
	Polymer({
		is:'zetta-dom-app',
		behaviors:[ZETTA.ZettaDomAppBehavior],
		/*
		ready: function () {
			var self = this;
			ZETTA.ZettaDomAppBehavior.ready.apply(self, arguments);
		}
		*/
	})
	</script>
</dom-module>

