<dom-module id="iris-prompt">
	<style>
		.field{width:100%; min-width: 200px;margin-bottom:10px;}
		paper-button.danger{background-color:var(--paper-red-400, #F00); color:#FFF;}
		paper-button.success{background-color:var(--paper-green-400, #F00); color:#FFF;}
		paper-button.warning{background-color:var(--paper-orange-400, #F00); color:#FFF;}
		[notitle]>.text{padding-top:25px;}
	</style>
	<template>
		<paper-dialog id="dialodBox" modal class$="[[data.cls]]" notitle$="[[!data.title]]" notext$="[[!data.text]]">
			<h2 class="title" hidden$="[[!data.title]]">[[data.title]]</h2>
			<div class="text" hidden$="[[!data.text]]">[[data.text]]</div>
			<div class="dialog-contents" hidden$="[[!data.isprompt]]">
				<paper-input class="field" type="[[data.fieldType]]" no-float-label value="{{data.value}}" on-keyup="onkeyup"></paper-input>
			</div>
			<div class="buttons">
				<paper-button on-tap="cancel" class$="[[data.closeBtnCls]]" dialog-dismiss raised hidden$="[[!data.hasCloseBtn]]">[[data.closeBtn]]</paper-button>
				<paper-button on-tap="done" class$="[[data.okBtnCls]]" raised>[[data.okBtn]]</paper-button>
			</div>
		</paper-dialog>
	</template>
	<script>
		window.IRIS = window.IRIS || {};
		//placeholder utill real component ready to call
		window.IRIS.irisPrompt = {
			set: function(key, data){
				this[key] = data;
			},
			open: function(){
				this.isCalled = true;
			}
		}
		window.IRIS.Prompt = function(args, callback){
			var data = _.extend({
				text: '',
				okBtn: '<%= _T("OK") %>',
				closeBtn: '<%= _T("CLOSE") %>',
				closeBtnCls: "",
				okBtnCls: "",
				cls: "",
				fieldType: 'text',
				required: true,
				isprompt: true,
				hasCloseBtn: true,
				callback: callback
			}, args);
			this.irisPrompt.set('data', data);
			this.irisPrompt.open();
		};
		window.IRIS.Alert = function(args, callback){
			var data = _.extend({
				text: '',
				okBtn: '<%= _T("OK") %>',
				closeBtn: '<%= _T("CLOSE") %>',
				closeBtnCls: "",
				okBtnCls: "",
				cls: "",
				isprompt: false,
				required: false,
				hasCloseBtn: false,
				callback: callback
			}, args);
			this.irisPrompt.set('data', data);
			this.irisPrompt.open();
		};

		window.IRIS.Confirm = function(args, callback){
			var data = _.extend({
				text: '',
				okBtn: '<%= _T("OK") %>',
				closeBtn: '<%= _T("CANCEL") %>',
				closeBtnCls: "",
				okBtnCls: "",
				cls: "",
				isprompt: false,
				required: false,
				hasCloseBtn: true,
				callback: callback
			}, args);
			this.irisPrompt.set('data', data);
			this.irisPrompt.open();
		};

		Polymer({
			is:'iris-prompt',
			properties:{
				data:{
					type: Object,
					value: {
						value: "",
						title: "Prompt",
						text: "Enter Value",
						okBtn: 'OK',
						closeBtn: 'CLOSE',
						fieldType: 'text',
						required: true,
						isprompt: true,
						hasCloseBtn: true,
						callback: false
					}
				},
				holder: {
					type: String,
					value: "IRIS"
				}
			},
			onkeyup: function(e){
				if (e.which != 13)
					return;
				this.doCallback('ok');
			},
			done: function(){
				this.doCallback('ok');
			},
			cancel: function(){
				this.doCallback('cancel');
			},
			toggle:function(){
				this.$.dialodBox.toggle();
			},
			open:function(){
				this.$.dialodBox.open();
			},
			close:function(){
				this.$.dialodBox.close();
			},
			doCallback: function(btn, value){
				var self = this;
				var data = self.data;
				var value = data.value;
				if (data.required && btn == 'ok' && !value) {
					return;
				};
				self.close();
				if(data.callback){
					data.callback(btn, value);
				}
			},
			attached: function(){

				if (window.IRIS.irisPrompt && window.IRIS.irisPrompt.isCalled) {
					this.set('data', window.IRIS.irisPrompt.data);
					this.open();
				};

				window[this.holder] && (window[this.holder].irisPrompt = this);
				window.IRIS.irisPrompt = this;
			}
		})
	</script>
</dom-module>

