<dom-module id="iris-language-selector">
	<style>
	iris-dropdown{display: block;}
	.display{cursor: pointer;padding: 5px 0px 4px 2px;border-bottom: 1px solid #ccc;}
	.astab{padding: 10px; width: auto !important;}
	.astab .display{border-bottom: 0px;}
	.astab::content #dropdown{margin-top: 48px !important; margin-left:5px; margin-right: 5px;}
	</style>
	<template>
		<paper-menu-button class="astab">
			<div class="dropdown-trigger display">
				<iron-icon icon="translate"></iron-icon>
				<span>[[languagetitle]]</span>
			</div>
			<paper-menu class="dropdown-content" selected="{{selected}}" attr-for-selected="value">
				<template is="dom-repeat" items="{{language.list}}">
					<paper-item value="[[item.id]]">[[item.name]]</paper-item>
				</template>
			</paper-menu>
		</paper-menu-button>
	</template>
	<script>
	<% 
	var langs = []; 
	_.each(_T.languages, function(l, code){
		langs.push({name: l.name, id: code});
	});
	%>
	Polymer({
		is:'iris-language-selector',
		properties:{
			languagetitle:{
				type: String,
				notify: true
			},
			selected:{
				type: String,
				notify: true,
				value: '<%= _T.locale %>',
				observer:'onLangChange'
			},
			language:{
				type: Object,
				notify: true,
				observer:'onLangChange'
			},
		},
		observers:[
			'onLangChange(language.list)'
		],
		ready: function(){
			var self = this;
			self.set('language', {
				source: '<%- _T.source %>',
				locale: '<%- _T.locale %>',
				list: <%- JSON.stringify(langs) %>
			});
		},
		attached: function(){
			var self = this;
			if (!self.language || !self.language.list || !self.language.list.length)
				return;
			var list = [].concat(self.language.list);
			self.set('language.list', []);
			self.async(function(){
				self.set('language.list', list);
			}, 1000);
		},
		onLangChange: function(){
			var self = this;
			if (!self.language || !self.language.list.length || !self.selected)
				return;
			var l = _.find(self.language.list, function(o){return o.id == self.selected});
			if (!l)
				return (self.languagetitle = self.selected);
			self.languagetitle = l.name;

			if (self.language.locale != self.selected) {
				var loc = window.location;
				if (self.language.locale == 'en') {
					window.location.href = loc.href.replace(loc.host+'/', loc.host+'/'+self.selected+'/');
				}else{
					window.location.href = loc.href.replace(loc.host+'/'+self.language.locale, loc.host+'/'+self.selected);
				}
			};
		},
		toJSON: function(v){
			return JSON.stringify(v);
		}
	})
	</script>
</dom-module>

