<!--link rel="import" href="/deps/paper-button/paper-button.html" />
<link rel="import" href="/deps/paper-input/paper-input.html" />
<link rel="import" href="/deps/paper-dialog/paper-dialog.html" /-->
<link rel="import" href="iris-qrcode.html" />

<dom-module id="iris-totp" attributes="data rpc op logouturl progressImg">
	<style>
		.error{color: #F00}
		paper-dialog{width: 350px;height: 360px;position: absolute;}
		paper-dialog h2{margin-bottom: 10px;}
		paper-dialog paper-input{margin-top: 0px;}
		paper-dialog[totpenabled]{height: 115px;}
		paper-dialog[totpenabled] paper-input{margin-top: 20px;}
		#msg{padding: 10px}
	</style>
	<template>
		<div hidden$="{{loginRequired}}">
			<paper-button id="activateBtn" raised class="primary" hidden$="{{data.enabled}}" on-click="activateTOTP"><%= _T("Activate One Time Password") %></paper-button>
			<paper-button id="deactivateBtn" raised class="primary" hidden$="{{!data.enabled}}" on-click="deactivateTOTP"><%= _T("Disable One Time Password") %></paper-button>
		</div>
		<div id="msg"></div>
		<paper-dialog id="dialog" totpenabled$="{{data.enabled}}" modal on-iron-overlay-closed="onDialogClose">
			<div hidden$="{{data.enabled}}">
				<h2><%= _T("Scan with authenticator app") %></h2>
				<center>
					<iris-qrcode height="200" rendertype="table" foregroundcolor="#111218" text="{{data.totpData.barcodeUrlPart}}"></iris-qrcode>
				</center>
			</div>
			<paper-input no-label-float auto-validate pattern="[0-9]*" value="{{code}}" on-keypress="onCodeKeyPress" minlength="6" maxlength="6" label="<%= _T("Verify One Time Password") %>"></paper-input>
			<div class="buttons">
				<paper-button dialog-dismiss><%= _T("Cancel") %></paper-button>
				<paper-button dialog-confirm autofocus><%= _T("Done") %></paper-button>
			</div>
		</paper-dialog>
	</template>
	<script>
		Polymer({
			is:'iris-totp',
			properties:{
				data: {
					type: Object,
					value: {}
				},
				rpc: {
					type: Object
				},
				op:{
					type: String,
					value:'configure-totp'
				},
				code:{
					type: String,
					value:''
				},
				logouturl:{
					type: String,
					value: '/logout'
				},
				progressImg:{
					type: String,
					value: '<center><img src="data:image/gif;base64,R0lGODlhEgAEAKECAAAAAH9/f////////yH/C05FVFNDQVBFMi4wAwEAAAAh+QQJDwABACwAAAAAEgAEAAACB4yPqcvtrwoAIfkECQ8AAAAsAAAAABIABAAAAgyMA6m7hwyTi3FSVgAAIfkECQ8AAgAsAAAAABIABAAAAhGEIRkb6XmQYs9Fx1oVd64tFAAh+QQJDwADACwAAAAAEgAEAAACEYQxeZjhsdKI7dF55INZ9bEVACH5BAkPAAMALAAAAAASAAQAAAIRjDMJCzkMDlLMQWkrXXg3XwAAIfkECQ8AAwAsAAAAABIABAAAAhGcP6Fx4IDOYubBmFZ7OKvtFAAh+QQJDwADACwAAAAAEgAEAAACDJyPGBvpx9pzcVJWAAA7"/></center>'
				}
			},
			ready: function(){
				var self = this;
				self.debounce('fetchData', function(){
					if(_.isEmpty(self.data)){
						self.fetchData();
					}
				}, 1000);
			},
			onLogout: function(){
				window.location.href = this.logouturl;
			},
			onDialogClose: function(e, closingReason){
				var self = this;
				if (closingReason.confirmed) {
					if (!self.code)
						return self.$.dialog.open();
					self.sendRequestForNewState();
				};
			},
			onCodeKeyPress: function(event){
				var self = this;
				if(event.which == 13){
					self.$.dialog.close();
					self.sendRequestForNewState();
					event.preventDefault();
				}
				return false;
			},
			sendRequestForNewState: function(){
				var self = this;
				if (!self.rpc)
					return;
				self.setMsg(self.progressImg);
				self.rpc.dispatch({ op : self.op, stage: 'change', code: self.code, enable: self.totpNewState }, function(err, data) {
					self.setMsg("");
					self.code = "";
					if (err){
						if (err.logout)
							self.onLogout();
						return self.setMsg(err.error || '<%= _T("Unable to update TOTP") %>', 'error');
					}
					if (data.success) {
						var d = _.extend({}, self.data);
						d.enabled = self.totpNewState;
						self.data = d;
					};
				});
			},
			deactivateTOTP: function(){
				this.initTOTPProcess(false);
			},
			activateTOTP: function(){
				this.initTOTPProcess(true);
			},
			initTOTPProcess: function(state){
				var self = this;
				if (!self.rpc)
					return;
				self.totpNewState = state;
				self.setMsg(self.progressImg);
				self.rpc.dispatch({ op : self.op, stage: 'init' }, function(err, data) {
					self.setMsg("");
					if (err){
						if (err.loginRequired)
							return self.showLoginRequired();
						if (err.logout)
							self.onLogout();
						return self.setMsg(err.error || '<%= _T("Unable to TOTP data") %>', 'error');
					}
					if (self.totpNewState)
						self.data = data;
					if(data.enabled != self.totpNewState){
						self.$.dialog.open();
					}
				});
			},
			fetchData: function(){
				var self = this;
				if (!self.rpc)
					return;
				self.setMsg(self.progressImg);
				self.rpc.dispatch({ op : self.op, stage: 'get-data' }, function(err, data) {
					self.setMsg("");
					if (err){
						if (err.loginRequired)
							return self.showLoginRequired();
						if (err.logout)
							self.onLogout();
						return self.setMsg(err.error || '<%= _T("Unable to TOTP data") %>', 'error');
					}
					self.data = data;
				});
			},

			setMsg: function(msg, cls){
				var self = this;
				self.$.msg.innerHTML = msg;
				self.$.msg.classList.remove('success', 'error');
				if (cls)
					self.$.msg.classList.add(cls);
			},

			showLoginRequired: function(){
				this.loginRequired = true;
				this.setMsg('<%= _T("Please login to configure TOTP.") %>');
				this.fire("login-required");
			}
		})
	</script>
</dom-module>

